.App {
  text-align: center;
}

.titulo {
  margin: 15px;
}

.quadro {
  height: 200px;
  width: 200px;
  border: 1px solid gray;
}

.foto {
  max-height: 100%;
  max-width: 100%;
  align-content: center;
  border-radius: 19px;
}

.campo-nome {
  width: 90%;
  padding: 8px 7%;
  margin: 5px;
  box-sizing: border-box;
  text-align: center;
  font-size: 15px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  border-radius: 7px;
  background-color: #e0696981;
}

.nome-correto {
  background-color: #6fad5f81 !important;
}

.tabela{
  margin: 100px auto;
  display: initial;
}

.painel-pontos{
  border: 1px solid lightgray;
  width: 80%;
  height: 100px;
  margin: 0 auto 60px;
}

.painel-pontos button{
  float: right;
  width: 70px;
  height: 35%;
  background-color: #ffffffff;
  color: #888888;;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
  font-size: 15px;
  border: 1px solid lightgray;
  cursor: pointer;
  font-weight:300;
  transition: all 0.25s;
}

.painel-pontos button:hover {
  color: darkred;
  border-color: darkred;
  text-shadow: 0 0 2em #ffc5c5;
}

.qtde-pontos {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
.corretos {
  height: 100%;
  line-height: 100px;
  width: 50%;
  float: left;
  background-color: #94dc9077;
  display: table-cell;
  font-size: 72px;
  color: #034b03;
  font-family: 'Courier New', Courier, monospace;
}
.errados {
  height: 100%;
  line-height: 100px;
  width: 50%;
  float: right;
  background-color: #f3b1b169;
  display: table-cell;
  font-size: 72px;
  color: #8a0606;
  font-family: 'Courier New', Courier, monospace;
}